---
// const data = await fetch("./api/countries.json").then((res) => res.json());
// type Country = {
// 	name: string;
// 	code: string;
// 	boundries: {
// 		lat: number;
// 		lon: number;
// 	}[];
// };

// const countries: Country[] = data


import CountryPicker from "@/components/CountryPicker";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<CountryPicker client:load/>
	</body>
</html>
